h1 {
    color: red
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.body__link {
    color: rgb(51.2%, 52.3%, 51.2%)
}

.body {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0px;
}
.nav-banner {
    display: flex;
    justify-content: space-between;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(banner.jpg);
    height: 200px;
    background-size: cover;

    background-position: top;
    background-repeat: no-repeat;
    color: white;
}

.nav-banner__title {
    font-size: 7em;  
    position: relative; 
}

.about__body {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    flex-direction: column;
}

.tips__body {
    display: flex;
    justify-content: center;
    word-wrap: break-word;
}
.tip__list {
    text-align: left;
}

.about__img {
    display: flex;
    justify-content: space-around;
}